.about {
  width: 90%;
  margin: 0 auto;
  margin-top: 7rem;
}

.about #h2-black {
  color: black;
}

.about #h2-red {
  color: #991c21;
}

.about h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.about h2 {
  font-size: 40px;
  text-align: center;
}

.about h3 {
  font-size: 35px;
  text-align: left;
}

.about p {
  font-size: 23px;
  font-weight: lighter;
  font-family: "Sansation", Arial, sans-serif;
}

.about .content-welcome > p {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.about .flex-container {
  display: flex;
  margin-top: 50px;
  column-gap: 30px;
}

.about .gallery {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  flex: 0 0 45%;
}

.about .gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.about .content-txt > h3 {
  color: black;
}
.about .content-txt > p {
  margin-bottom: 20px;
  margin-top: 30px;
  color: black;
}
