.contact {
  margin-top: 7rem;
}

.contact .flex-container {
  display: flex;
  padding: 2% 4%;
  gap: 50px;
}

.contact .flex-contact-2 {
  display: flex;
  flex-direction: column;
}

.contact .contact-head {
  text-align: center;
  margin-bottom: 10px;
}

.contact h2 {
  font-family: "Roboto", sans-serif;
  color: #991c21;
  font-size: 36px;
  font-weight: bolder;
}

.contact .contact-des {
  color: #000000;
  font-size: 16px;
  font-weight: lighter;
}

.contact label {
  color: #000000;
  font-size: 14px;
}

.contact form > input[type="text"],
form > input[type="submit"] {
  width: 100%;
  padding: 15px 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.contact form > input[id="messenger"] {
  height: 130px;
}

.contact #messenger {
  flex-grow: 1; /* Make messenger input grow to fill the remaining space */
  padding: 20px;
  margin: 5px 0;
  box-sizing: border-box;
}

.contact #submit-button {
  background-color: #991c21;
  color: #ffffff; /* Corrected color value */
  font-weight: bold;
  padding: 20px;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 1rem; /* Ensures the button aligns to the bottom */
  margin-bottom: 0px;
}

.contact .flex-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  padding: 20px 0px;
}

.contact footer {
  background-color: #991c21;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 4%;
  color: white;
}

.contact footer .flex-2 {
  flex: 2;
}

.contact footer .flex-1 {
  flex: 1;
}

.contact footer div {
  margin: 0 10px;
}

.contact footer p {
  font-size: 16px;
  line-height: 140%;
  font-weight: lighter;
}

.contact footer ul {
  list-style: none;
}

.contact footer ul li {
  margin: 5px 0;
  font-weight: 20;
  padding-bottom: 10px;
}

.contact footer i {
  font-size: 24px;
  color: white;
}

.contact .footer a[href^="mailto"] {
  color: #ffffff; /* Đổi màu liên kết thành màu trắng */
  text-decoration: none; /* Loại bỏ gạch chân */
}
